.task {
    display: flex;
    justify-content: start;
    gap: 2em;
    align-items: center;
    margin-bottom: 1em;
}
input {
    margin-right: 2px;
}
.taskBtn {
    margin-right: 3px;
}
.taskName.taskDone {
    text-decoration: line-through;
}
.tasklist{
    margin-bottom: 2em;
}